/* Base Css Start */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: sfproRegular;
  src: url(../fonts/FontsFree-Net-SFProText-Regular-1.ttf);
}

@font-face {
  font-family: sfproMedium;
  src: url(../fonts/FontsFree-Net-SFProText-Bold-1.ttf);
}

@font-face {
  font-family: sfproBold;
  src: url(../fonts/FontsFree-Net-SFProText-Bold-1.ttf);
}

:root {
  --primaryColor: #001345;
  --secondaryColor: #2aa5df;
  --secondaryLight: #edf7fc;
  --tertiaryColor: #ec4847;
  --tertiaryLight: #e71a19;
  --gray: #4f5057;

  /* // Fonts  */
  --sfproRegular: "sfproRegular", sans-serif;
  --sfproMedium: "sfproBold", sans-serif;
  --sfproBold: "sfproBold", sans-serif;
}

body {
  font-family: var(--sfproRegular);
  font-size: 16px;
  line-height: 1.4;
  color: var(--primaryColor);
}

p {
  color: var(--gray);
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  transition: .3s;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--sfproBold);
}

/* Base Css End */

/* utility css start */
.z-index-1 {
  z-index: 1;
}

.container {
  max-width: 1328px;
}

/* utility css end */

/* header css start */
.extra-margin-for-header {
  height: 80px;
}

.header-area {
  z-index: 99;
  transition: 0.3s;
  padding: 10px 0;
  min-height: 80px;
  background-color: #fff;
  box-shadow: 0 2px 8px #e9f7fecf;
}

.header-area.stuck,
.header-area.type-3 {
  background-color: #fff;
  padding: 1.5rem 0;
  min-height: 70px;
  box-shadow: 0 5px 8px rgba(10, 58, 89, 0.1);
}

.logo {
  position: relative;
  z-index: 80;
}

.box-btn {
  background-color: var(--tertiaryColor);
  padding: 15px 18px;
  line-height: 1;
  border-radius: 5px;
  color: #fff;
  font-family: var(--sfproMedium);
  border: 2px solid var(--tertiaryColor);
}

.box-btn:hover {
  background-color: var(--tertiaryLight);
  color: #fff;
  border-color: var(--tertiaryLight);
}

.box-btn.bg-transparent {
  color: var(--primaryColor);
  border-color: transparent;
}

.box-btn.bg-transparent:hover {
  background-color: var(--primaryColor) !important;
  color: #fff;
  border-color: var(--primaryColor);
}

.box-btn.border-style {
  background-color: transparent;
  color: var(--tertiaryColor);
}

.box-btn.border-style:hover {
  background-color: var(--tertiaryLight);
  color: #fff;
}

.header-right a:not(:last-child) {
  margin-right: 15px;
}

.navbar-toggle {
  width: 28px;
  height: 28px;
  cursor: pointer;
  z-index: 80;
}

.navbar-toggle .line {
  display: block;
  background-color: var(--primaryColor);
  height: 3px;
  width: 34px;
  right: 0;
  top: 6px;
  border-radius: 0.2rem;
  transition: width 0.3s, transform 0.3s;
}

.stuck .navbar-toggle .line,
.type-3 .navbar-toggle .line {
  background-color: var(--secondaryColor);
}

.navbar-toggle .line:nth-child(2) {
  top: 20px;
  width: 20px;
}

.extra .navbar-toggle .line:first-child {
  transform: translateY(3px) rotate(45deg);
  top: 7px;
}

.extra .navbar-toggle .line:nth-child(2) {
  width: 34px;
  transform: translateY(-10px) rotate(-45deg);
}

.main-menu li a {
  color: var(--primaryColor);
  font-size: 16px;
  padding: 5px 0;
}

.main-menu li a:hover {
  color: var(--secondaryColor);
}

.main-menu li:not(:last-child) {
  margin-right: 34px;
}

.m_menu_outer {
  position: absolute;
  background-color: var(--secondaryColor);
  top: 100%;
  right: 0;
  height: calc(100vh - 80px);
  padding: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  visibility: hidden;
  width: 100vw;
  transition: 0.3s;
}

.extra .m_menu_outer {
  opacity: 1;
  visibility: visible;
}

.m_menu_outer .main-menu li a {
  font-size: 24px;
  font-weight: 300;
}

.m_menu_outer .main-menu li {
  margin-bottom: 15px;
}

.m_menu_inner {
  flex-basis: 100%;
  height: 100%;
  max-width: 50rem;
}

.m_menu_outer .main-menu li a {
  color: #fff;
}

.mobile-menu-btns .box-btn {
  background-color: #fff;
  color: var(--primaryColor);
  border-color: #fff;
  margin-right: 15px;
}

.mobile-menu-btns .box-btn:hover {
  background-color: var(--primaryColor);
  color: #fff;
}

.m_menu_outer .main-menu {
  margin-bottom: 20px;
}

.m_menu_outer .main-menu li a:hover {
  color: var(--primaryColor);
}

/* header css end */

/* hero-area css start */
.hero-area {
  background: linear-gradient(180deg, #e9f7fe 0%, #F8FDFF 100%);
}

.hero-content {
  padding: 100px 0;
}

.hero-content h1 {
  font-size: 48px;
  font-family: var(--sfproBold);
  line-height: 1.2;
  margin-bottom: 30px;
}

.hero-content p {
  color: var(--primaryColor);
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 30px;
}

.hero-img img {
  max-width: 90%;
}

.hero-img {
  text-align: center;
}

/* hero-area css end */

/* booking-area css start */
.booking-tab {
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
}

.booking-content {
  background-color: #e9f7fe;
  padding: 40px 50px;
  border-radius: 15px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  grid-gap: 30px;
}

.bk-blk h5 {
  color: var(--gray);
  font-family: var(--sfproBold);
  font-size: 16px;
  margin-bottom: 30px;
  line-height: 1.3;
}

.bk-list {
  list-style: disc;
  padding-left: 40px;
  margin-bottom: 32px;
}

.bk-list li {
  margin-bottom: 10px;
  font-size: 16px;
  color: var(--gray);
  line-height: 1.5;
}

.booking-tab .nav {
  justify-content: space-around;
  border-bottom: 1px solid #e9f7fe;
  margin-bottom: 24px;
}

.booking-tab .nav button {
  border: 0;
  margin-bottom: 0;
  padding: 12px 0;
  line-height: 1.2;
  position: relative;
  color: var(--gray);
}

.booking-tab .nav button::after {
  content: "";
  position: absolute;
  width: 10%;
  background-color: var(--secondaryColor);
  bottom: 0;
  height: 1px;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  visibility: hidden;
  transition: .3s;
}

.booking-tab .nav button.active::after {
  opacity: 1;
  visibility: visible;
  width: 100%;
}

.booking-tab .nav button.active {
  color: var(--secondaryColor);
}

.cmn-link {
  color: var(--secondaryColor);
  font-size: 18px;
}

.cmn-link svg {
  margin-left: 5px;
}

.cmn-link:hover {
  color: var(--primaryColor);
}

.cmn-link:hover svg {
  margin-left: 10px;
}

.cmn-link svg path {
  transition: .3s;
}

.cmn-link:hover svg path {
  fill: var(--primaryColor);
}

.cmn-link svg {
  transition: .3s;
}

.booking-content.type-2 {
  background-color: #feedd6;
}

.booking-content.type-2 {
  background-color: #feedd6;
}

.booking-content.type-2 .cmn-link {
  color: #fca932;
}

.booking-content.type-2 .cmn-link svg path {
  fill: #fca932;
}

.booking-area {
  padding: 70px 0;
}

/* booking-area css end */

/* task-area css start */
.task-area {
  padding: 45px 0;
}

.section-title h2 {
  font-size: 34px;
  margin-bottom: 15px;
}

.section-title p {
  font-size: 18px;
  line-height: 1.5;
}

.section-title {
  margin-bottom: 50px;
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
}

.single-task {
  background-color: #fff;
  box-shadow: 0 0 20px 0 rgba(0, 19, 69, .15);
  border-radius: 15px;
  padding: 30px 30px 60px 30px;
  transition: .3s;
}

.task-icon {
  max-width: 60px;
  margin-bottom: 15px;
}

.task-card-content h5 {
  font-family: var(--sfproBold);
  line-height: 1.4;
  margin-bottom: 15px;
}

/* task-area css end */

/* offer-area css start */
.offer-area .single-task {
  box-shadow: none;
  border-radius: 0;
  padding: 0 30px;
}

.offer-img img {
  max-height: 100%;
}

.offer-img {
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 24px;
}

.offer-area {
  padding: 70px 0;
}

.task-card-content p {
  margin: 0;
}

/* offer-area css end */

/* cta-area css start */
.cta-area {
  padding-top: 50px;
  padding-bottom: 50px;
}

.cta-bg {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 90%;
  object-fit: contain;
}

.bk-list.cta {
  list-style: none;
  margin-bottom: 0;
}

.bk-list.cta li {
  margin: 8px;
  position: relative;
}

.bk-list.cta li img {
  width: 20px;
  margin-right: 5px;
  vertical-align: middle;
  transform: translateY(-1px);
}

.bk-list.cta li:not(:last-child) {
  margin-right: 65px;
}

.cta-content-inner .section-title {
  margin-bottom: 30px;
}

.cta-content-inner .hero-btns {
  margin-bottom: 15px;
}

.cta-content-outer {
  padding: 50px 0;
  min-height: 430px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 60px;
}

/* cta-area css end */

/* footer css start */
.footer-top {
  background-color: var(--primaryColor);
  padding-top: 75px;
  padding-bottom: 70px;
}

.footer-top-content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 30px;
}

.footer-widget h4 {
  font-size: 20px;
  color: #fff;
  margin-bottom: 15px;
  font-family: var(--sfproBold);
}

.ft-links li a {
  display: inline-block;
  color: #fff;
  opacity: 0.8;
  text-decoration: none;
  font-size: 16px;
}

.ft-links li a:hover {
  opacity: 1;
}

.ft-links li:not(:last-child) {
  margin-bottom: 8px;
}

.footer-bottom {
  background-color: var(--secondaryColor);
  padding: 24px 0;
}

.footer-bottom p {
  color: #fff;
  font-size: 16px;
}

/* footer css end */


/* login page css start */
.login-fm {
  max-width: 420px;
}

.input-field label {
  position: absolute;
  top: 15px;
  left: 15px;
  font-size: 15px;
  color: var(--primaryColor);
  transition: .3s;
}

.input-field input:focus+label {
  top: 4px;
  font-size: 11px;
}

.input-field input {
  width: 100%;
  border: 1px solid var(--primaryColor);
  outline: 0;
  padding: 0 15px;
  color: var(--primaryColor);
  height: 50px;
  border-radius: 5px;
}

.login-fm button.box-btn {
  height: 56px;
}

.login-fm h1 {
  font-size: 48px;
  margin-bottom: 40px;
  text-align: center;
}

.login-area {
  padding: 80px 0;
}

.img-fluid.login-img {
  margin-bottom: 40px;
}

.contact-content p {
  margin-bottom: 30px;
}

.p-type-2 strong {
  margin-bottom: 2px;
}

.contact-area {
  padding-top: 80px;
}

/* login page css end */